<h1>Change Detection</h1>
<div class="row">
    <div class="col-md-6">

        <comment-section-1></comment-section-1>
    </div>

    <div class="col-md-6">
        <comment-section-2></comment-section-2>
    </div>
</div>
<div class="row">
    <div style="margin: 15px;">
        <button (click)="count()">Increment Counter</button>
        <div><strong>{{counter}}</strong></div>
    </div>
</div>
<h4><a href="http://www.syntaxsuccess.com/viewarticle/change-detection-in-angular-2.0">Read more here</a></h4>