build --strategy=TypeScriptCompile=worker
build --strategy=AngularTemplateCompile=worker

build --symlink_prefix=dist/

build --define=compile=legacy
run --nolegacy_external_runfiles

build --define=ROLLUP_BUNDLE_FIXED_CHUNK_NAMES=1