build --strategy=TypeScriptCompile=worker
build --strategy=AngularTemplateCompile=worker

build --symlink_prefix=dist/

build --remote_http_cache=http://localhost:9010/cache

build --define=compile=legacy
run --nolegacy_external_runfiles
