bower_components
node_modules
src/built
src/built-upgrade
src/built-es5
src/built-es5-lazy
src/built-es5-commonjs-aot
src/built-es5-commonjs
src/built-es6
.vscode
aot
upgrade-aot
app/aot
npm-debug.log
.cache

*dist
.DS_Store