ul{
    list-style-type: none;
}

.addContactControls{
    margin-top: 20px;
}

.iconButton{
    font-size: 20px;
    margin-right: 5px;
    cursor:pointer;
}

input.active-cell {
    border: 2px solid black;

}

input.active-cell,input.active-cell:focus{
    outline: 0;
    box-shadow:none;
}