ul{
    list-style-type: none;
}

.addContactControls{
    margin-top: 20px;
}

.iconButton{
    font-size: 20px;
    margin-right: 5px;
    cursor:pointer;
}

#spreadsheet td.active-cell input {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.row-number-column{
    width: 40px;
    background-color: #eeeeee;
    text-align: center;
}

#spreadsheet td{
    border: 1px solid gray;
}

#spreadsheet input{
    border:0;
}

#spreadsheet .columnHeader{
    background-color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
}

.current-item{
    background-color: lightgray;
}

.sort td{
    border: 1px solid black;
    padding: 15px;
}

#react-tree-view{
    font-size: 20px;
}

.moving-box{
    padding-top: 10px;
    border: 1px solid black;
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black;
    cursor: move;
}

.input-controls{
    margin-bottom: 30px;
}

.errorMessage{
    color:red;
    font-weight: bold;
}

.formHeading{
    font-weight: bold;
}

div.edge{
    transform-origin: 0 100%;
    height: 1px;
    background: #337ab7;
}

.vertex {
    /*border-radius: 50%;*/
    width: 40px;
    height: 40px;
    background-color: #337ab7;
    position:relative;
    display:block;
}

.graph-table{
    border-spacing: 70px;
    border-collapse: separate;
}

.vertex-text{
    position:absolute;
    top:50%;
    height:50%;
    width:40px;
    margin-top:-25%;
    text-align:center;
    color:white;
}