ul{
    list-style-type: none;
}

.addContactControls{
    margin-top: 20px;
}

.iconButton{
    font-size: 20px;
    margin-right: 5px;
    cursor:pointer;
}

#spreadsheet td.active-cell input {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.row-number-column{
    width: 40px;
    background-color: #eeeeee;
    text-align: center;
}

#spreadsheet td{
    border: 1px solid gray;
}

#spreadsheet input{
    border:0;
}

#spreadsheet .columnHeader{
    background-color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
}

.current-item{
    background-color: lightgray;
}

.sort td{
    border: 1px solid black;
    padding: 15px;
}