<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Oracle Corporation//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>my-app</servlet-name>
    <servlet-class>cars.api.CarsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>my-app</servlet-name>
    <url-pattern>/cars</url-pattern>
  </servlet-mapping>

</web-app>


