<div (click)="elementClicked($event)">
    <h1>Create a graph</h1>

    <vertex [value]="'A'"></vertex>

    <table class="graph-table">
        <tr>
            <td><vertex [value]="'B'" /><td><vertex [value]="'C'" /></td><td><vertex [value]="'D'" /></td>
        </tr>
        <tr>
            <td><vertex [value]="'E'" /></td><td><vertex [value]="'F'" /></td>
        </tr>
        <tr>
            <td><vertex [value]="'G'" /></td><td><vertex [value]="'H'" /></td><td><vertex [value]="'I'" /></td>
        </tr>
    </table>

</div>