<h1>Create a graph</h1>

<div class="circle"></div>

<table class="graph-table">
    <tr>
        <td><div class="circle"></div></td><td><div class="circle"></div></td><td><div class="circle"></div></td>
    </tr>
    <tr>
        <td><div class="circle"></div></td><td><div class="circle"></div></td>
    </tr>
    <tr>
        <td><div class="circle"></div></td><td><div class="circle"></div></td><td><div class="circle"></div></td>
    </tr>
</table>

<edge [x1]="100" [y1]="100" [x2]="200" [y2]="500"></edge>

