<div (click)="elementClicked($event)">
    <h1>Create a Graph</h1>

    <div class="alert alert-info" role="alert">
        Click any pair of nodes to connect them with an edge
    </div>

    <vertex #a [value]="'A'"></vertex>

    <table class="graph-table">
        <tr>
            <td><vertex #b [value]="'B'" /><td><vertex #c [value]="'C'" /></td><td><vertex #d [value]="'D'" /></td>
        </tr>
        <tr>
            <td><vertex #e [value]="'E'" /></td><td><vertex #f [value]="'F'" /></td>
        </tr>
        <tr>
            <td><vertex #g [value]="'G'" /></td><td><vertex #h [value]="'H'" /></td><td><vertex #i [value]="'I'" /></td>
        </tr>
    </table>
</div>
<h4><a href="http://www.syntaxsuccess.com/viewarticle/loading-components-dynamically-in-angular-2.0">Read more here</a></h4>