<!DOCTYPE html>
<html>

<head>
    <title>angular2 playground</title>
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://code.angularjs.org/tools/typescript.js"></script>
    <script src="config.js"></script>
    <script src="https://code.angularjs.org/2.0.0-alpha.46/web_worker/ui.dev.js"></script>
    <script>
        System.import('new-york-main.ts');
        System.import('london-main.ts');
    </script>
</head>

<body>

    <new-york>
        loading...
    </new-york>

    <london>
        loading...
    </london>

</body>

</html>
