<!DOCTYPE html>
<html>

<head>
    <title>Angular 2.0 web workers</title>

    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="node_modules/zone.js/dist/zone.min.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.js"></script>

    <script src="config.js"></script>

    <script>
        System.import('factorial').catch(console.error.bind(console));
    </script>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="http://www.syntaxsuccess.com" class="link">Home</a></li>
                        <li><a href="/angular-2-samples" class="link">About</a></li>
                        <li><a href="/angular-2-samples/#/demo/spreadsheet" class="link">Demos</a></li>
                        <li class="active"><a href="web-worker-demo.html" class="link">Web Workers</a></li>
                        <li><a href="../../upgrade.html" class="link">NgUpgrade</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="alert alert-info" role="alert">The n-factorial calculation is done in a web worker</div>
        <div class="col-md-3">
            <div>
                <app>
                    loading web worker...
                </app>
                <input class="form-control" placeholder="specify n" type="number" id="factorial" />
                <br/>
                <button class="btn btn-primary" type="button" id="calculate_factorial">Calculate Factorial</button>
                <br/><br/>
                <div>The calculated factorial is:</div>
                <div id="result"></div>
            </div>

        </div>
    </div>

</body>

</html>
