<h1>Making Http Requests</h1>

<div class="alert alert-success" role="alert">
    List of friends loaded successfully
</div>
<div *ng-for="#friend of result.friends">
    {{friend}}
</div>

<br/>
<div class="alert alert-success" role="alert">
    Loaded contract after first loading a customer
</div>
<div>
    <div>Customer: {{customer.name}}</div>
    <div>Product: {{contract.product}}</div>
</div>

<br/>
<div *ng-if="error">
    <div class="alert alert-danger" role="alert">
        There was an error loading the list of friends (Intentional error testing)
    </div>
</div>

<h4><a href="http://www.syntaxsuccess.com/viewarticle/angular-2.0-and-http">Read more here</a></h4>