.stream1 {
  background-color: lightgreen;
  width:70px;
  text-align: center;
  margin-right: 2px;
  margin-top: 5px;
}

.stream2 {
  background-color: lightskyblue; 
  width:70px;
  text-align: center;
  margin-right: 2px;
  margin-top: 5px;
}

.stream-section{
  clear: both;
  margin-top: 50px;
}
