<div class="stream1">Stream1</div>
<div class="stream2">Stream2</div>

<div class="stream-section">
  <button (click)="concatStreams()">Concat Streams</button>
  <div *ngFor="#item of concatStream">
    <div [ngClass]="{stream1:item.source === 1,stream2:item.source === 2}">{{item.value}}</div>
  </div>
</div>

<div class="stream-section">
  <button (click)="mergeStreams()">Merge Streams</button>
  <div *ngFor="#item of mergeStream">
    <div [ngClass]="{stream1:item.source === 1,stream2:item.source === 2}">{{item.value}}</div>
  </div>
</div>

<div class="stream-section">
  <button (click)="forkJoinStreams()">ForkJoin Streams</button>
  <div *ngFor="#item of forkJoinStream">
    <div [ngClass]="{stream1:item.source === 1,stream2:item.source === 2}">{{item.value}}</div>
  </div>
</div>