<div class="container">
    <h1>Welcome</h1>

    <p>
        This is a live demo of my Angular sample components.
    </p>
    <p>
        I hope you will find these <a [routerLink]="['/Demo/Spreadsheet']">demos</a> useful and educational. Stay tuned for more progress soon.
        Don't hesitate to tweet me at @helgevold with suggestions for more components.
    </p>

    <p>
        Click <a href="http://www.syntaxsuccess.com/angular-2-articles">here</a> for a full list of my Angular articles.
    </p>

    <p>
        The source code for the full set of components is available on <a href="https://github.com/thelgevold/angular-2-samples">GitHub</a>
    </p>

    <h3>Angular Bundling</h3>
    
    <div>
      I have also added a few examples of how you can bundle Angular applications:

      Check out these demos if you are interested:

      <div><a href="index-systemjs.html" target="_blank" class="link"><h4>SystemJS - JiT</h4></a></div>
      <div><a href="index-systemjs-builder.html" target="_blank" class="link"><h4>SystemJS Builder - JiT</h4></a></div>
      <div><a href="index-webpack-no-lazy-loading.html" target="_blank" class="link"><h4>Webpack (no lazy loading) - AoT</h4></a></div>
      <div><a href="index-webpack-babili.html" target="_blank" class="link"><h4>Webpack (babili) - AoT</h4></a></div>
      <div><a href="index-webpack-lazy-loading.html" target="_blank" class="link"><h4>Webpack (with lazy loading) - AoT</h4></a></div>
      <div><a href="index-rollup.html" target="_blank" class="link"><h4>Rollup - AoT</h4></a></div>
      <div><a href="index-rollup-lazy.html" target="_blank" class="link"><h4>Rollup (with lazy loading) - AoT</h4></a></div>
      <div><a href="index-parcel.html" target="_blank" class="link"><h4>Parcel - AoT</h4></a></div>
      <div><a href="index-browserify.html" target="_blank" class="link"><h4>Browserify - AoT</h4></a></div>
      <div><a href="index-closure.html" target="_blank" class="link"><h4>Closure Compiler - AoT</h4></a></div>

    </div>

</div>