<table id="spreadsheet">
    <tr>
        <td class="row-number-column"></td>
        <td class="columnHeader" *ng-for="#columnHeader of getHeader()">{{columnHeader}}</td>
    </tr>
    <tr *ng-for="#row of model.rows">
        <td class="row-number-column">{{row.rowIndex}}</td>
        <td [class]="model.getActive(col)" *ng-for="#col of row.columns">
            <input  (click)="model.selectColumn(col)" (keypress)="typing($event,col)" (keyup)="navigate($event)" />
        </td>
    </tr>
</table>