<div>
    <form (ngSubmit)="onSubmit()" [ngFormModel]="form" #f="ngForm">
        <div *ngFor="let question of model.questions" class="form-row">
            <div class="formHeading">{{question.text}}</div>

            <div [ngSwitch]="question.controlType">
                <div *ngSwitchCase="'textbox'"><input type="{{question.type}}" id="{{question.key}}" ngControl="{{question.key}}"></div>
                <div *ngSwitchCase="'dropdown'">
                    <select ngControl="{{question.key}}">
                        <option *ngFor="let o of question.options" [value]="o.key">{{o.value}}</option>
                    </select>
                </div>
            </div>

            <div class="errorMessage" *ngIf="!f.form.controls[question.key].valid">*required</div>
        </div>

        <div class="form-row">
            <button type="submit" [disabled]="!f.form.valid">Save</button>
        </div>
    </form>

    <div class="form-row">
        <div *ngIf="payLoad"><strong>The form contains the following values</strong></div>
        <div>
            {{payLoad}}
        </div>
    </div>
    <h4><a href="http://www.syntaxsuccess.com/viewarticle/dynamic-form-in-angular-2.0">Read more here</a></h4>
</div>