<div class="container">
    <h1>Welcome</h1>

    <p>
        This is a live demo of my Angular sample components.
    </p>
    <p>
        I hope you will find these <a [routerLink]="['/Demo/Spreadsheet']">demos</a> useful and educational. Stay tuned for more progress soon.
        Don't hesitate to tweet me at @helgevold with suggestions for more components.
    </p>

    <p>
        Click <a href="http://www.syntaxsuccess.com/angular-2-articles">here</a> for a full list of my Angular articles.
    </p>

    <p>
        The source code for the full set of components is available on <a href="https://github.com/thelgevold/angular-2-samples">GitHub</a>
    </p>

</div>